html{
    background-color: black;
    display: flex;
    justify-content: center;
}
body{
    width:60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: purple;
}
h2{
    color: blueviolet;
}
li{
    color: purple;
}
